html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  overflow-y: auto;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

section {
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--w);
  height: var(--h);
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  max-width: 70%;
  margin: 0;
  padding: 0;
}

.spacer {
  height: var(--y);
  width: 100%;
}

h1 {
  font-weight: lighter;
  font-size: 3em;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.quote {
  font-size: 3em;
}

.quote-sm {
  font-size: 2em;
}

.title {
  font-size: 5em;
}

video {
  max-width: 100%;
}
